.map-responsive{
    overflow: auto;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:auto;
    width:auto;
    position:absolute;
}